<div class="jumbotron">
    <h1>Welcome to your Project Manager</h1>
    <p>Here is where you keep the best of your shit - in check.</p>
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
    <%= link_to "Log In", new_user_session_path, class:"btn btn-primary" %>
</div>